.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 30px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
    color: grey;
}

.p-30 {
    padding: 30px;
}

.br-10 {
    border-radius: 10%;

}

.tm-social {
    width: 50px;
    height: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}



.ml-50 {
    margin-left: 50px;
}
